*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
 width:100%;
 height: 100vh;
 background: black;
 color:azure;
clip-path: polygon(0% 0%,100% 0%,100% 100%,82% 80%,0% 100%); /* Polygin for diagonal shape */
}
.left img{
    width:60%;
}
nav{
    width:100%;
    height:100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}
.logo{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 5px;
}
#blue{
    color:#74b9ff;
}
.menu a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin:10px;
    padding:10px;

}
.menu a:first-child{
    border-bottom: 2px solid white;
    border-radius: 8px;
}
.menu a:last-child{
    border-bottom: 2px solid #674684;
    border-radius: 8px;
}
.icon{
    width:10opx;
}
/*body designing staerts here */
.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.left{
    flex-basis:50%;
    clip-path:polygon(0% 0%,100% 0%,100% 100%,82% 80%,0% 100%); /* Polygin for diagonal shape */
}  
.right{
    flex-basis: 50%;
    max-width: 600px;
}
.right h1{
    color:#74b9ff;
    font-size: 50px;
}
.right p{
    font-size: 27px;
    margin:10px 0;
}
.btn{
    background: transparent; /*adjust*/
    padding: 10px 20px;
    color:#74b9ff;
    border: 1px solid #74b9ff;
    border-radius: 9px;

}
/*section designing*/
#about{
    padding: 100px 0;
}
.about-row{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}
.about-left-col{
    flex-basis: 50%;
    text-align: center;;
}
.about-right-col{
    flex-basis: 50%;
    max-width: 100%;
    max-height: 100%;
   

}
.about-right-col img{
    width:80%;
}
.about-left-col{
max-width: 400px;
margin: auto;

}
.about-left-col h1{
    font-size: 50px;
    font-weight: 900;
}
.about-left-col p{
    font-size: 20px;
    text-align:justify;
    margin:10px 0;
    font-weight: 600;
}
.c-btn{
    padding: 10px;
    margin: 10px 0;
    background-color:#74b9ff;
    color:white;
    border: none;
}
/*sign-up*/
#sign-up{
    padding:50px 0;
    background: rgba(0,0,0,0.03);
     clip-path:polygon(0% 0%,100% 0%,100% 100%,82% 80%,0% 100%); /* Polygin for diagonal shape */
   
}
.signup-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signup-left{
    flex-basis: 50%;
    text-align: center;
}
.signup-left img{
    width:100%;
}
.signup-right{
    flex-basis: 50%;
}
.signup-right h1{
    font-size: 80px;
}
.signup-right h2{
    font-size: 40px;
    letter-spacing: 50px;
    color:rgba(0,0,0,0.03);
    margin:10px 0;
    text-align: center;
}
.sign-btn{
    padding: 10px;
    margin: 10px 0;
    background-color:#74b9ff;
    color:white;
    border: none;
    width:100px;
    cursor: pointer;
    text-align: center;
    font-weight: 800;
    transition: transform 500ms;
}
.sign-btn:hover,.sign-btn :focus-visible{
    transition: translateY(-1.5rem);
}
/*workout*/
#services{
    padding:50px 0;
}
.services-info{
    text-align: center;
}
.services-info h1{
    font-size: 50px;
    font-weight: bolder;
}
.services-info h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.services-row{
    display: grid;
    grid-template-columns: repeat(3,20%);
    grid-auto-rows: minmax(150px,auto);
    grid-gap: 3rem;
    justify-content: center;
    padding-top: 20px;

}
.services-row1{
    display: grid;
    grid-template-columns: repeat(3,25%);
   /* grid-auto-rows: minmax(150px,auto);*/
    grid-gap: 3rem;
    justify-content: center;
    padding-top: 30px;

}
.services-box{
    box-shadow: 2px 3px 5px grey;
    padding: 10px;
    background-color:#eeeeee;
    border-radius: 8px;
    text-align: center;
}
.services-box i{
    background: #0984e3;
    color:white;
    font-size: 15px;
    padding:10px;
    margin-top: -10px;
}
/*Member ship*/
#members{
    padding: 100px;
    background: url(img/dumble.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 40% 40%;
}
.member-card{
    text-align: center;
    padding-top: 30px;
    width:50%;
    margin:auto;

}
.member-card p{
    margin:20px 0;
}
.member-card h2{
    margin: 20px 0;
} 
.member-card img{
    width:80%;
    border-radius: 50%;
    align-items: center;
}
/*services new*/
#work{
    padding-top: 50px;
    padding-bottom: 200px;
    background: rgba(0,0,0,0.03);
    clip-path:polygon(0% 0%,100% 0%,100% 100%,82% 80%,0% 100%); /* Polygin for diagonal shape */
}
.work-box{
    box-shadow: 2px 4px 5px grey;

}
.services-info h2{
    font-size: 20px;
    font-weight: 800;
}
.work-box img{
    width:100%;
    height:100%;
    border-radius: 7px;
}
/* contact */
#contact{
    width:100%;
    padding: 30px 0;
}
.contact-row{
    display: flex;
    justify-content: center;;
    align-items: center;
}
.contact-left-col{
    flex-basis: 50%;
    padding-top: 50px;
}

.form{
    width:70%;
    margin: auto;
    text-align: center;
}
.form input[type="text"]
{
    width: 70%;
    padding: 10px;
    margin-bottom: 12px;
}
.contact-us{
    font-weight: bolder;
    color: black;
    font-size: 40px;
    margin-bottom: 15px;
}
#ta
{
    width: 70%;
    padding: 10px;
    margin-bottom: 12px;
}
.contact-right-col{
    flex-basis: 50%;
    max-width: 450px;
    margin: auto;
}

.contact-right-col i{
    background-color:#74b9ff;
    font-size: 20px;
    color:white;
    padding: 10px;

}
.contact-right-col p{
    margin:8px 0px;
    font-size: 10px;
}
.contact-right-col h1{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
}
.contact-right-col p{
    font-size: 18px;
    font-weight: 700;
}
.c_btn{
    background: black;
    color:white;
    padding: 10px 20px;
    width:30%;
    text-align: center;
}
/* footer */
#footer{
    padding: 10px 0px;
    background: black;
    color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    /*clip-path:polygon(0% 0%,100% 0%,100% 100%,82% 80%,0% 100%); /* Polygin for diagonal shape */
}
#footer h1{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 5px;

}
#footer p{
    font-size: 20px;
    font-weight: 500px;
}
.social-icons i{
    padding:0px 15px;
    font-size: 30px;
    
}
@media only screen and (max-width:480px) {
    .menu{
        max-height: 200px;;
    }
    .menu a{
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }

.services-row
{
    display:flex;
    flex-direction:column;
    margin: auto;
    max-width: 300px;
} 
h1{
    font-size: 25px;
}
h2{
    font-size:20px;
}
p{
    font-size: 12px;
}
img{
    width:100px;
}
.social-icons i{
    display: flex;
    flex-direction: column;
}
.btn{
    transition: transform 1000ms;
}

}
